.title{
    text-align: center;
    font-size: 50px;
}

.box{
    box-sizing: border-box;
    font-style: italic;
    text-align: center;
    background-color: yellow;
    width: 30%;
    padding: 10px 10px 10px 10px;
    border: 3px solid red;
    position: relative;
    left: 70%;
}

.show_block{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.content{
    color: white;
}

p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;  
  height: 150px;
  overflow: scroll;
}

@media (min-width: 992px){
    .lg{
        background-color: darkblue;
        float: left;
        border: 1px solid darkcyan;
        width: 31%;


    }
}

@media (min-width: 768px) and (max-width: 991px){
    .md_row1{
        background-color: darkblue;
        float: left;
        border: 1px solid darkcyan;
        width: 44%;

    }
    .md_row2{
        background-color: darkblue;
        float: left;
        border: 1px solid darkcyan;
        width: 90%;

    }
}

@media (max-width: 767px){
    .sm{
        background-color: darkblue;
        float: left;
        border: 1px solid darkcyan;
        width: 90%;     
    }
}